#main-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

#main-links > a {
  margin: 10px;
  padding: 1vw;
  color: white;
  font-family: sans-serif;
  font-size: smaller;
}

.footer {
  background-color: #06283d;
}
